{% load static %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>Détails de l'événement - DonVia</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>
<body style="background-color: #f8f9fa;">

    <div class="container d-flex align-items-center justify-content-center" style="min-height:80vh;">
        <div class="text-center w-100">
            <div class="bg-white p-4 rounded shadow mx-auto" style="max-width:720px;">
                
                <h2 class="mb-3">Détails de l'Événement</h2>
                <hr>

                <div class="row text-start">
                    <div class="col-12">
                        <p><strong>Titre :</strong> {{ evenement.titre }}</p>
                        <p><strong>Description :</strong><br>{{ evenement.description }}</p>
                        <p><strong>Lieu :</strong> {{ evenement.lieu_evenement }}</p>
                        <p><strong>Date début :</strong> {{ evenement.date_debut|date:"d/m/Y H:i" }}</p>
                        <p><strong>Date fin :</strong> {{ evenement.date_fin|date:"d/m/Y H:i" }}</p>
                        <p><strong>Nombre de participants :</strong> {{ evenement.nb_participants }}</p>
                        <p><strong>Statut :</strong> {{ evenement.statut }}</p>

                        
                    </div>
                </div>

                <div class="mt-3 text-center">
                    <a href="{% url 'evenement:modifier_evenement' evenement.pk %}" class="btn btn-danger me-2">Modifier</a>
                    <a href="{% url 'evenement:liste_evenements' %}" class="btn btn-primary">Retour aux événements</a>
                    <a href="{% url 'evenement:delete_evenement' evenement.pk %}" class="btn btn-danger me-2">Supprimer</a>
                </div>

            </div>
        </div>
    </div>

</body>
</html>
